# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# DuckDB / Data
# ===============================
*.duckdb
*.duckdb-wal

data/raw/
data/processed/

outputs/eval_results/*
!outputs/eval_results/.gitkeep

# ===============================
# Superset
# ===============================
superset_home/
superset_config.py

# ===============================
# Docker
# ===============================
docker-data/
*.pid

# ===============================
# Streamlit
# ===============================
.streamlit/secrets.toml

# ===============================
# Cache
# ===============================
.cache/
tmp/
temp/

# ===============================
# Test / coverage
# ===============================
.coverage
htmlcov/

# ===============================
# Notebook checkpoints
# ===============================
.ipynb_checkpoints/